body {
  padding-top: 8rem;
  /* font-family: 'Lora', Times, serif; */
  font-family: 'Times New Roman', Times, serif;
}

.p-sans-serif {
  font-family: 'Lato', sans-serif;
}
  
.body-padded {
    /* padding: 3rem 1.5rem; */
    text-align: center;
  }

.navbar {
    /* border-bottom: 4px solid #81D8D0;  */
    /* padding-bottom: 5px; */
    border-top: 5px solid #81D8D0; 
    padding-top: 5px;
    background: #ffffff;
  }

.dropdown-menu {
    min-width:300px;
    /* margin-top: 10px; */
    overflow:auto;
    max-height: 60vh;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover, .dropdown-item:active {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #000000;
  text-decoration: underline;
}

.btn-default {
  background-color: #81D8D0;
}

.btn-primary, .btn-primary:focus {
  background-color: #81D8D0 !important;
  border-color:#81D8D0 !important;
  font-variant: small-caps;
  border-radius: 0 !important;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #9BE8DF !important;
  border-color:#9BE8DF !important;
}

.btn-secondary, .btn-secondary:focus {
  background-color: transparent !important;
  border-color:#81D8D0 !important;
  color: inherit !important;
  font-variant: small-caps;
  border-radius: 0 !important;
}

.btn-secondary:hover, .btn-secondary:active {
  color: inherit !important;
  background-color: #9BE8DF !important;
  border-color:#9BE8DF !important;
}

.disabled, .disabled:hover, .disabled:active {
  color: inherit !important;
  background-color: #f5f5f5 !important;
  border-color: #81D8D0 !important;
}

.form-control {
  border-radius: 0 !important;
}

.my-form-search, .my-form-search:focus {
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #ced4da !important;
  caret-color: #81D8D0;
  
}

.form-control:focus {
  border-color: #9BE8DF;
  box-shadow: none;
}

.navbar-brand {
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  font-size: x-large;
  cursor: pointer;
}

.table > thead > tr > th{
  border-bottom: 1px solid #81D8D0;
}

th[scope="col"] {
  font-variant: all-small-caps;
  font-size: larger;
  border-top: none;
}

th[scope="row"] {
  /* font-style: italic; */
  font-weight: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}